apiVersion: v1
kind: ConfigMap
metadata:
    name: librechat-config
data:
  librechat.yaml: |
    version: 1.2.8

    cache: false

    endpoints:
      custom:
        - name: "AI Gateway"
          apiKey: "not-needed"
          baseURL: "http://ai-gateway.ai-gateway:4000"
          models:
            default: [ "" ]
            fetch: true
          titleConvo: true
          titleModel: "gemini/gemini-2.5-flash-lite"
          summarize: true
          summaryModel: "gemini/gemini-2.5-flash-lite"
          forcePrompt: false
          modelDisplayLabel: "Agentic Layer AI Gateway"

        - name: "Agent Gateway"
          apiKey: "not-needed"
          baseURL: "http://agent-gateway.agent-gateway:10000"
          models:
            default: [ "" ]
            fetch: true
          titleConvo: false
          summarize: false
          forcePrompt: false
          addParams:
            # Agent Gateway does not support streaming yet
            disableStreaming: true
          headers:
            X-Conversation-ID: "{{LIBRECHAT_BODY_CONVERSATIONID}}"
            X-Parent-Message-ID: "{{LIBRECHAT_BODY_PARENTMESSAGEID}}"
            X-Message-ID: "{{LIBRECHAT_BODY_MESSAGEID}}"
